[submodule "Infinite/vendor/spdlog"]
	path = Infinite/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Infinite/vendor/GLEW"]
	path = Infinite/vendor/GLEW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Infinite/vendor/imgui"]
	path = Infinite/vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "Infinite/vendor/glm"]
	path = Infinite/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
